<!--

    ETML
    Author          : Serghei Diulgherov
    Date            : 10.11.2022
    Descriptiopn    : HTML page head

-->

<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="GETM" content="Support Ticket Manager">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>ETML GETM Geste-Eleves-Ticket-Manager</title>

        <link rel="stylesheet" href="resources/css/style.css">
        
    </head>

    <body>