@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");


:root {
    --color-bg-page: #26313A;
    --color-bg-container: #1C252C;
    --color-text-main: #FFFFFF;
}

html {
    background-color: var(--color-bg-page);
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-text-main);
    font-family: 'Titillium Web', 'Consolas', sans-serif;
    font: weight 700px;
}

#header {
    width: 100%;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-page {
    height: 100%;
    width: 100%;
}

.login-page h1 {
    font-size: 110px;
    margin: 0;
    width: max-content;
}

.login-page h2 {
    font-size: 80px;
    margin: 0;
    width: max-content;
}

.login-page h3 {
    font-size: 60px;
    margin: 0;
    width: max-content;
}

.login-container {
    width: 70%;
    height: 70%;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 30px black;
}

.login-left-area {
    height: 100%;
    width: 60%;
    background: url("../image/school_front.jpg");
    background-size: cover;
    background-position: right;
}

.login-img-overlay {
    width: 100%;
    height: 100%;
    background-color: #026FC290;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

.login-right-area {
    height: 100%;
    width: 40%;
    background-color: var(--color-bg-container);
}

.login-right-area h2 {
    align-self: center;
    width: 70%;
}

#login-form {
    width: 50%;
}

#login-form input {
    height: 50px;
    width: 100%;
    border-radius: 10px;
    border: #47545E Solid 2px;
    background-color: #35424C;
    color: #9DAFBD;
    padding-left: 10px;
    transition: all 0.5s;
}

input:focus, textarea:focus, select:focus {
    transform: translate(5px, -5px);
}

#login-form input[type=text] {
    margin-top: 70px;
    margin-bottom: 15px;
}

#login-form input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

#login-form button {
    background-color: #026FC2;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    width: 120px;
    align-self: flex-end;
    margin-top: 70px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    transition: all 0.5s;
}

.checkbox {
    position:relative;
    display:block;
    width:100%;
    height:60px;
    overflow:hidden;
}
.check {
    width:50px;
    height:50px;
    position:absolute;
    opacity:0;
}
.label span {
    position:absolute;
    margin-top:15px;
}
.path1{
    stroke-dasharray:400;
    stroke-dashoffset:400;
    transition:.5s all;
}
.path2{
    stroke-dasharray:1800;
    stroke-dashoffset:1800;
    transition:.5s all;
}
.check:checked + label svg g path {
    stroke-dashoffset:0;
}

  
button:hover, .file-input:hover{
    transform: translate(5px, -5px);
}

button:active {
    transform: translateY(5px);
}

::placeholder {
    color: #9DAFBD;
}

.menu-bar {
    width: 95%;
    display: flex;
    flex-direction: row;
    background-color: #1C252C;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: #47545E 2px solid;
    margin-top: 20px;
}

.title-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

.vertical-separator {
    height: 20px;
    width: 2px;
    background-color: #47545E;
    margin-left: 10px;
    margin-right: 10px;
}

.button {
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 10px;
    background-color: #026FC2;
    padding: 5px 15px 5px 15px;
    margin-right: 20px;
}

.home-page { 
    width: 95%;
    height: 90%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.container {
    border-radius: 10px;
    background-color: #1C252C;
    border: #47545E 2px solid
}

.user-dash-left {
    width: 70%;
    height: 94%;
    margin-right: 20px;
}

.user-dash-right {
    width: 30%;
    height: 80%;
}

#ticket-creation {
    height: 100%;
}

.data-form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
}

.data-form label {
    font-size: 25px;
    font-weight: 600;
}

.data-form input[type=text], select, textarea {
    border-radius: 10px;
    border: #47545E Solid 2px;
    background-color: #35424C;
    color: #9DAFBD;
    transition: all 0.5s;
    padding-left: 10px;
    margin-bottom: 10px;
}

.data-form input, select {
    height: 50px;
}

.data-form select {
    width: 50%;
}

.data-form input::placeholder, textarea::placeholder{
    font-style: italic;
}

.data-form textarea {
    height: 200px;
}

.data-form button {
    background-color: #026FC2;
    height: 50px;
    border-radius: 10px;
    border: none;
    align-self: center;
    color: #FFFFFF;
    width: 30%;
    transition: all 0.5s;
}

.file-input {
    color: transparent;
    transition: all 0.5s;
    border: 2px solid #026FC2;
    border-radius: 10px;
    width: 200px;
}

.file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.file-input::before {
    content: url(../image/plus.svg)' ' 'Importer un fichier';
    display: flex;
    justify-content: center;
    align-items: center;
    color: #026FC2;
    width: 200px;
    height: 50px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 700;
    font-size: 10pt;
}

.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    position: absolute;
    top: 0;
    z-index: 1000;
    animation: 0.3s ease-out 0s 1 slideInFromLeft;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}