@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;600;700&display=swap');

:root {
    --color-bg-page: #26313A;
    --color-bg-container: #1C252C;
    --color-text-main: #FFFFFF;
}

html {
    background-color: var(--color-bg-page);
}

body {
    margin: 0;
    height: 100vh;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-page {
    height: 100%;
    color: var(--color-text-main);
    font-family: 'Titillium Web', 'Consolas', sans-serif;
    font: weight 700px;
}

.login-page h1 {
    font-size: 110px;
    margin: 0;
    width: max-content;
}

.login-page h2 {
    font-size: 80px;
    margin: 0;
    width: max-content;
}

.login-page h3 {
    font-size: 60px;
    margin: 0;
    width: max-content;
}

.login-container {
    width: 70%;
    height: 70%;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 30px black;
}

.login-left-area {
    height: 100%;
    width: 60%;
    background: url("../image/school_front.jpg");
    background-size: cover;
    background-position: right;
}

.login-img-overlay {
    width: 100%;
    height: 100%;
    background-color: #026FC290;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

.login-right-area {
    height: 100%;
    width: 40%;
    background-color: var(--color-bg-container);
}

.login-right-area h2 {
    align-self: center;
    width: 70%;
}

#login-form {
    width: 50%;
}

#login-form input {
    height: 50px;
    width: 100%;
    border-radius: 10px;
    border: #47545E Solid 2px;
    background-color: #35424C;
    color: #9DAFBD;
    padding-left: 10px;
    transition: all 0.5s;
}

input:focus {
    transform: translate(5px, -5px);
}

#login-form input[type=text] {
    margin-top: 70px;
    margin-bottom: 15px;
}

#login-form button {
    background-color: #026FC2;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    width: 120px;
    align-self: flex-end;
    margin-top: 70px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    transition: all 0.5s;
}

button:after {
    content: '»';
    position:relative;
    opacity: 0;  
    right: -30px;
    transition: 0.5s;
}
  
button:hover{
    padding-right: 24px;
    padding-left:8px;
    transform: translate(2px, -2px);
}

button:hover:after {
    opacity: 1;
    right: 0px;
    margin-left: 10px;
}

button:active {
    transform: translateY(5px);
}

::placeholder {
    color: #9DAFBD;
}